.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

label {
  float: left;
  padding: 0 1em;
  text-align: center;
}

.token-list {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}
.token-list > div > :nth-child(2) {
  text-decoration: underline dotted;
  white-space: pre;
  font-size: large;
}
.token-list > div > * {
  margin: 0;
}
.token-list > div {
  padding: 4px 8px 4px 8px;
}

.prompt {
  padding: 10px;
  background-color: #eee;
  /* word-break: break-all; */
}

.prompt-activated {
  padding: 10px;
  background-color: #eee;
  border: 2px solid black;
  /* word-break: break-all; */
}

.invisible-letter {
  color: #ccc;
}
.invisible-space {
  font-size: 0;
}

.token-correct {
  border-style: solid;
  border-color: #0075ff;
  box-sizing: border-box;
  border-width: 1px;
  border-radius: 2px;
  padding: 3px 7px 3px 7px !important;
}

.side-correct {
  border-style: solid;
  border-color: #0075ff;
  box-sizing: border-box;
  border-width: 5px;
  border-radius: 5px;
}

.whichone-App {
  max-width: 900px;
  margin-left: auto;
  margin-right: auto;
  padding: 1em 1em 1em 1em;
}

.submit-button {
  display: flex;
  width: 100%;
  margin-top: 1em;
  justify-content: center;
}

.radios {
  display: flex;
  margin-top: 1em;
  width: 100%;
  justify-content: space-between;
}
.radios > label {
  flex-shrink: 1;
  padding: 1px;
}
.radios > p {
  flex-shrink: 0;
  width: 8em;
  text-align: center;
  padding: 8px 5px 8px 5px;
  margin: 0;
}

.score-bar-holder {
  width: 100%;
  position: relative;
}

.score-bar {
  display: inline-block;
  margin-right: 0.5em;
  margin-top: 0.5em;
  height: 1em;
  border-radius: 0 0.5em 0.5em 0;
  transition: width 0.5s ease-in-out;
}

.top-score-bar {
  position: absolute;
  top: 0;
  left: 0;
  background-color: #014ca1;
  height: 1em;
}

.full-score-bar {
  background-color: #0075ff;
}

.reasons-radios {
  margin-top: 1em;
  display: flex;
  margin-bottom: 1em;
  width: 100%;
  flex-wrap: wrap;
}
.reasons-radios > label {
  width: 20em;
  text-align: left;
  gap: 1px;
}
.score-grid {
  display: grid;
  grid-template-columns: 14em 1fr 1fr 1fr;
  margin: 0.5em 0 0.2em 0;
}
.error {
  color: red;
}
.error:empty {
  display: none;
}
