.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

label {
  float: left;
  padding: 0 1em;
  text-align: center;
}

.token-list {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}
.token-list > div > :nth-child(2) {
  text-decoration: underline dotted;
  white-space: pre;
  font-size: large;
}
.token-list > div > * {
  margin: 0;
}
.token-list > div {
  padding: 0px 6px 0px 6px;
}

.prompt {
  margin: 10px;
}

.token-correct {
  border-style: solid;
  border-color: green;
}

.whichone-App {
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
  padding: 1em 1em 1em 1em;
}

.submit-button {
  display: flex;
  width: 100%;
  margin-top: 1em;
  justify-content: center;
}

.radios {
  display: flex;
  margin-top: 1em;
  width: 100%;
  justify-content: space-between;
}
.radios > label {
  flex-shrink: 1;
  padding: 1px;
}
.radios > p {
  flex-shrink: 0;
  width: 8em;
  text-align: center;
  margin: 8px 5px 0 5px;
}

.reasons-radios {
  margin-top: 1em;
  display: flex;
  margin-bottom: 1em;
  width: 100%;
  flex-wrap: wrap;
}
.reasons-radios > label {
  width: 20em;
  text-align: left;
  gap: 1px;
}
.error {
  color: red;
}
.error:empty {
  display: none;
}
